/*
    Copyright (C) 2020 michael mccune

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
body {
    background: #dddddd;
}

div#header {
    display: flex;
    justify-content: center;
}

div#about-text {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    margin: auto;
    background: #ffffff;
    z-index: 2;
    padding: 1em;
    font-size: 8pt;
}

div#about-background {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #11111199;
    z-index: 1;
}

div#menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div#menu-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#menu-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

div#playfield {
    display: grid;
    grid-gap: 13px;
    grid-template-columns: repeat(8, 1fr);
}

div#playfield-wrapper {
    display: none; /* grid when shown */
    justify-content: center;
    align-items: stretch;
    margin-top: 10px;
}

div.gamepiece {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 20%;
    padding: 5px;
    background: white;
}

div.gamepiece:hover {
    border-color:#57a;
    box-shadow: 0px 0px 5px 2px #57a;
}
